<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{{layout.title}}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            height: 100vh;
        }

        .sidebar {
            width: 250px;
            background-color: #333;
            color: #080808;
            padding: 20px;
        }

        .main-content {
            flex: 1;
            padding: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        .sidebar a {
            color: #f0ecec;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
        .button {
            background-color:#e7e7e7; 
            color: black; 
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
    <!-- <script src="/static/axios.min.js"> </script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="sidebar">
           <ul>
            {{#each pages}}
                <li><a href="{{@key}}">{{this}}</a> </li>
            {{/each}}
        </ul>
        </div>
        <div class="main-content">
            {{> content}}
        </div>
    </div>
    <script>
      
    </script>
  </body>
</html>

 
